---
dependency:
  name: galaxy
  enabled: false
driver:
  name: docker
lint:
  ansible-lint .
  qyamllint .
platforms:
  - name: "—Åentos_8"
    image: pycontribs/centos:8
    pre_build_image: true
  - name: "ubuntu"
    image: pycontribs/ubuntu:latest
    pre_build_image: true
provisioner:
  name: ansible
verifier:
  name: ansible
