<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Lesson_10_Edward_Burlakov_Main_Page.</title>
    <SCRIPT type="text/javascript" src="js/snow.js"></SCRIPT>
    <style>   @import url("style/index.css"); </style>
</head>
<body>
<div class=header style="color:blue;alignment:center;background-color: dodgerblue ;font-family:'Times New Roman,Arial';font-size:18px;">
Здесь могла быть Ваша реклама.
</div>
<table class=t1 >
        <tr >
            <td class="anitab1" >
                <img class="img" src="http://old.academ.info/upload/ao_images/2015/10/33708/src_9afccfd99c65dc0c.jpg" alt="Фото НГУ 1">
            </td>
            <td class="anitab1" >
                <img class="img" src="http://ic.pics.livejournal.com/l_boris/18887691/805329/805329_900.jpg" alt="Фото НГУ 2">
            </td>
            <td class="anitab1" >
                <img class="img" src="http://rus.rus4all.ru/images/72631/44/726314456.jpg" alt="Фото НГУ 3">
            </td>
            <td class="anitab2" >
                <img  class="img" src="http://pda.fedpress.ru/sites/fedpress/files/dlinnyjchulok/news/hzdpqyzmox4_0.jpg" alt="Фото НГУ 4">
            </td>
        </tr>
</table>
<br>
<br>
    <hr class=headline>
    <h1> Библиотека Новосибирского Государственного Университета</h1>
    <hr class=headline>
    <br>
    <h2> Новая регистрация: </h2>
    <form  action="http://myhost.com/result.php" method=get>
                <p class="yellow">
                        <input  type=checkbox name="tempreg"  aria-label="s1" value=true >  Временная регистрация <br>
                        <input  type=checkbox name="oldlost" aria-label="s2"  value=true >  Предъявлен читательский билет старого образца или утерян. <br><br>
                </p>
                <p class="blue"><br>
                        <b>Фамилия  :</b>  <input class=green style="margin-left:25px;" type=text name="surname"  required="required"><br><br>
                        <b>Имя      :</b>  <input class=green style="margin-left:65px;" type=text name="username" required="required"><br><br>
                        <b>Отчество :</b>  <input class=green style="margin-left:25px;" type=text name="patronymic" required="required"><br><br>
                </p>

                <p><br>
				<b> Дата рождения :</b>
                    <select  name="DoB" style="font-weight:bold;color:green;">
                    <option value="1" class="optcR">1</option>
                    <option value="2" class="optcB">2</option>
                    <option value="3" class="optcR">3</option>
                    <option value="4" class="optcB">4</option>
                    <option value="5" class="optcR">5</option>
                    <option value="6" class="optcB">6</option>
                    <option value="7" class="optcR">7</option>
                    <option value="8" class="optcB">8</option>
                    <option value="9" class="optcR">9</option>
                    <option value="10" class="optcB">10</option>
                    <option value="11" class="optcR">11</option>
                    <option value="12" class="optcB">12</option>
                    <option value="13" class="optcR">13</option>
                    <option value="14" class="optcB">14</option>
                    <option value="15" class="optcR">15</option>
                    <option value="16" class="optcB">16</option>
                    <option value="17" class="optcR">17</option>
                    <option value="18" class="optcB">18</option>
                    <option value="19" class="optcR">19</option>
                    <option value="20" class="optcB">20</option>
                    <option value="21" class="optcR">21</option>
                    <option value="22" class="optcB">22</option>
                    <option value="23" class="optcR">23</option>
                    <option value="24" class="optcB">24</option>
                    <option value="25" class="optcR">25</option>
                    <option value="26" class="optcB">26</option>
                    <option value="27" class="optcR">27</option>
                    <option value="28" class="optcB">28</option>
                    <option value="29" class="optcR">29</option>
                    <option value="30" class="optcB" style="font-weight:bold;">30</option>
                    <option value="31" class="optcR">31</option>
                </select>
                <select  name="MoB" style="font-weight:bold;color:green;">
                    <option value="1" class="optcR">January</option>
                    <option value="2" class="optcB">February</option>
                    <option value="3" class="optcR">March</option>
                    <option value="4" class="optcB">April</option>
                    <option value="5" class="optcR">May</option>
                    <option value="6" class="optcB">June</option>
                    <option value="7" class="optcR">July</option>
                    <option value="8" class="optcB">August</option>
                    <option value="9" class="optcR">September</option>
                    <option value="10" class="optcB">October</option>
                    <option value="11" class="optcR" style="font-weight:bold;">November</option>
                    <option value="12" class="optcB">December</option>
                </select>
                <select  name="YoB" style="font-weight:bold;color:green;">
                    <option value="1940" class="optcR">1940</option>
                    <option value="1941" class="optcB">1941</option>
                    <option value="1942" class="optcR">1942</option>
                    <option value="1943" class="optcB">1943</option>
                    <option value="1944" class="optcR">1944</option>
                    <option value="1945" class="optcB">1945</option>
                    <option value="1946" class="optcR">1946</option>
                    <option value="1947" class="optcB">1947</option>
                    <option value="1948" class="optcR">1948</option>
                    <option value="1949" class="optcB">1949</option>
                    <option value="1950" class="optcR">1950</option>
                    <option value="1951" class="optcB">1951</option>
                    <option value="1952" class="optcR">1952</option>
                    <option value="1953" class="optcB">1953</option>
                    <option value="1954" class="optcR">1954</option>
                    <option value="1955" class="optcB">1955</option>
                    <option value="1956" class="optcR">1956</option>
                    <option value="1957" class="optcB">1957</option>
                    <option value="1958" class="optcR">1958</option>
                    <option value="1959" class="optcB">1959</option>
                    <option value="1960" class="optcR">1960</option>
                    <option value="1961" class="optcB">1961</option>
                    <option value="1962" class="optcR">1962</option>
                    <option value="1963" class="optcB">1963</option>
                    <option value="1964" class="optcR">1964</option>
                    <option value="1965" class="optcB">1965</option>
                    <option value="1966" class="optcR">1966</option>
                    <option value="1967" class="optcB">1967</option>
                    <option value="1968" class="optcR">1968</option>
                    <option value="1969" class="optcB">1969</option>
                    <option value="1970" class="optcR">1970</option>
                    <option value="1971" class="optcB">1971</option>
                    <option value="1972" class="optcR">1972</option>
                    <option value="1973" class="optcB">1973</option>
                    <option value="1974" class="optcR">1974</option>
                    <option value="1975" class="optcB">1975</option>
                    <option value="1976" class="optcR">1976</option>
                    <option value="1977" class="optcB">1977</option>
                    <option value="1978" class="optcR">1978</option>
                    <option value="1979" class="optcB">1979</option>
                    <option value="1980" class="optcR">1980</option>
                    <option value="1981" class="optcB">1981</option>
                    <option value="1982" class="optcR">1982</option>
                    <option value="1983" class="optcB">1983</option>
                    <option value="1984" class="optcR">1984</option>
                    <option value="1985" class="optcB">1985</option>
                    <option value="1986" class="optcR">1986</option>
                    <option value="1987" class="optcB">1987</option>
                    <option value="1988" class="optcR">1988</option>
                    <option value="1989" class="optcB">1989</option>
                    <option value="1990" class="optcR">1990</option>
                    <option value="1991" class="optcB">1991</option>
                    <option value="1992" class="optcR">1992</option>
                    <option value="1993" class="optcB">1993</option>
                    <option value="1994" class="optcR">1994</option>
                    <option value="1995" class="optcB">1995</option>
                    <option value="1996" class="optcR">1996</option>
                    <option value="1997" class="optcB">1997</option>
                    <option value="1998" class="optcR">1998</option>
                    <option value="1999" class="optcB">1999</option>
                    <option value="2000" class="optcR" style="font-weight:bold;">2000</option>
                    <option value="2001" class="optcB">2001</option>
                </select><br><br>
                </p>
                <p class="blue">
                <input  type=radio name="rad2" value="student"  required="required">Студент (ка)<br>
                <input  type=radio name="rad2" value="teacher">Преподаватель<br>
                <input  type=radio name="rad2" value="guest">Гость университета<br><br>
                </p>
                <p>
                <br>
                    <b>Факультет :  </b>
                    <select  name="faculty" style="font-weight:bold;color:green;" >
                        <option value="2a" class="optcR">Высший Колледж Информатики НГУ</option>
                        <option value="2b" class="optcB">Геолого-Геофизический (ГГФ)</option>
                        <option value="2c" class="optcR">Гуманитарный (ГФ)</option>
                        <option value="2d" class="optcB">Медицинский (МедФ)</option>
                        <option value="2e" class="optcR">Механико-Математический (ММФ)</option>
                        <option value="2f" class="optcB">Журналистики (ФЖ)</option>
                        <option value="2g" class="optcR">Естественных Наук (ФЕН)</option>
                        <option value="2h" class="optcB">Информационных Технологий (ФИТ)</option>
                        <option value="2i" class="optcR">Иностранных Языков (ФИЯ)</option>
                        <option value="2j" class="optcB">Психологии (ФП)</option>
                        <option value="2k" class="optcR">Физический (ФФ)</option>
                        <option value="2l" class="optcB">Философский (ФилФ)</option>
                        <option value="2m" class="optcR" style="font-weight:bold;">Экономический (ЭФ)</option>
                        <option value="2n" class="optcB">Юридический (ЮФ)</option>
                    </select><br><br><br>
                <p class="blue">
                <b>Форма обучения</b> (для студента) :  <br>
                <input type=radio name="FoS" value="fos1">Очная<br>
                <input type=radio name="FoS" value="fos2">Заочная<br>
                <input type=radio name="FoS" value="fos3">Вечерняя<br>
                <input type=radio name="FoS" value="fos4">Онлайн<br><br><br>
                
                <b>Курс обучения</b> (для студента):
                    <select name="YoS" style="margin-left:42px; font-weight:bold; color:green;">
                        <option value="yos1" class="optcR">Первый курс</option>
                        <option value="yos2" class="optcB">Второй курс</option>
                        <option value="yos3" class="optcR">Третий курс</option>
                        <option value="yos4" class="optcB">Четвертый курс</option>
                        <option value="yos5" class="optcR" style="font-weight:bold;" >Пятый курс</option>
                        <option value="yos6" class="optcB">Вечный студент</option>
                    </select><br><br><br>
                </p>
                <p>
                <br>
                <b>Электронная почта:</b>   <input type=text style="margin-left:77px;" name="email" required="required"><br><br>
                <b>Сотовый телефон :</b>    <input type=text style="margin-left:84px;" name="phone" required="required"><br><br>
                <b>Скайп :</b>              <input type=text style="margin-left:174px;" name="skype"><br><br>
				<b>Доп.информация :</b><br><br> 
                <textarea rows="5" cols="55" name="textarea"></textarea><br><br>
                <input type=hidden name=hid1 value="NGU"><br>
                </p>
                <input type=image class=button  src="images/okbutton.png" alt="Отправить"><br><br>
                </form>
<br>
<hr class=headline>
<div class=footer >
        <a  href="http://www.nsu.ru"><b><i>Официальный сайт НГУ </i></b></a>
        <b><i> &#169; 2016 </i></b>
</div>
</body>
</html>